body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: blue;
}
img{
    width: 400px;
}
div{
    align-items: center;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: salmon;
    padding: 50px;
    border: 2px solid sienna;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}